:root {
  --font-dark: white;

  /* Catppuccin */
  --ctp-base: rgb(17, 17, 27);
  --ctp-secondary: rgb(19, 19, 34);
  --ctp-tertiary: rgb(24, 24, 39);
  --ctp-accent: rgb(115, 180, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Figtree';
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  color: var(--font-dark);
}

input:focus {
  outline: none;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ---SCROLLBAR--- */
::-webkit-scrollbar {
  width: 6px;
}

/* thumb = the draggable part */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2); /* subtle gray */
  border-radius: 3px;
}

/* optional: hover state */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

/* optional: track background */
::-webkit-scrollbar-track {
  background: transparent;
}
