/* --- TITLES --- */
  .window-title {
    font-size: 35px;
    font-weight: 800;
  }

/* --- INPUTS --- */
  #taskEdit {
    position: absolute;
    color: white;
    background: none;
    font-family: inherit;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.261);   
  }

  .input-box {
    padding: 10px;
    color: inherit;

    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: rgba(0, 0, 0, 0.2);
  }

  .input-box::placeholder {
    font-family: 'Figtree';
  }

  .input-box:focus {
    border: 2px solid rgba(255, 255, 255, 0.35);
  }

  .datepicker, .categories {
    display: flex;
    align-items: center;
    font-family: inherit;
    height: 100%;
    padding: 0 10px;
    color: white;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.23);
    background: rgba(255, 255, 255, 0.08);
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.202);
    background: rgba(255, 255, 255, 0.079);
  }

  .btn:hover {
    background: rgba(255, 255, 255, 0.204);
  }

  .checkbox {
    height: 24px;
    width: 24px;
    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: rgba(0, 0, 0, 0.2);
  }

  .checkbox.checked {
    background: var(--ctp-accent);
  }

  .checkbox.checked::before {
    position: absolute;
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(19, 19, 34);
  }

/* --- TABS --- */
  .tab {
    position: relative;
    padding: 10px 20px;
    border-radius: 8px;
  }

  .tab.selected {
    background: rgba(255, 255, 255, 0.08);
  }

  .tab.selected::before {
    position: absolute;
    content: "";
    left: 5px;
    height: 20px;
    width: 5px;
    top: 50%;
    border-radius: 5px;
    transform: translateY(-50%);
    background: var(--ctp-accent);
  }

/* --- TASKS UI --- */
  .task {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 50px;
    min-height: 50px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.03);
  }

  .task.select {
    background: rgba(255, 255, 255, 0.1);
  }

  .task:hover {
    background: rgba(255, 255, 255, 0.08)
  }

  .checked {
    color: grey;
    text-decoration: line-through;
  }

  .task > .tick.checkbox {
    position: absolute;
    left: 10px;
  }

  .task-info {
    display: flex;
    overflow-wrap: anywhere;
    flex-direction: column;
  }

  .due-date {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.658);
  }

  .importance {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 8px;
    right: 15px;
    color: grey;
  }

  .importance::before {
    content: "\f005";
    font-family: "Font Awesome 6 Free";
  }

  .importance:hover {
    font-weight: 900;
  }

  .importance.checked {
    color: rgb(115, 180, 224);
    font-weight: 900;
    text-decoration: none;
  }

  .task-actions {
    position: absolute;
    display: flex;
    gap: 5px;
    height: 30px;
    right: 55px;
    visibility: hidden;
  }

  .delete.btn, 
  .edit.btn {
    height: 30px;
    width: 30px;
  }

  .delete.btn::before {
    content: "\f1f8";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 12px;
    color: white;
  }

  .edit.btn {
    position: absolute;
    right: 15px;
    top: 7px;
  }

  .edit.btn::before {
    content: "\f304";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 12px;
    color: white;
  } 

  .delete.btn:hover {
    background: rgba(255, 0, 0, 0.548);
  }

  .task:hover .task-actions {
    visibility: visible;
  }

/* --- NEW TASK UI --- */
  .task-input {
    padding: 0 55px;
    font-size: 18px;
    height: 60px;
    flex: 1;
    color: inherit;
    border: none;
    border-radius: 8px;
    background-color: rgb(30, 30, 46);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.493);
  }

  .send.checkbox {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }

/* --- INFO SHELF --- */
  .close.btn {
    position: absolute;
    top: 15px;
    right: 20px;
    height: 35px;
    width: 35px;

    background: rgba(255, 255, 255, 0);
    border: none;
  }

  .close.btn:hover {
    background: rgba(255, 255, 255, 0.098);
  }

  .close.btn::before {
    content: "\f00d";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 20px;
    color: grey;
  }

  .info-shelf__task-info {
    position: relative;
    display: flex;
    min-height: 45px;
    padding: 10px 50px 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.03);
  }

  .info-shelf__task-info > .checkbox {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  #dateEdit {
    width: 100%;
    padding: 10px;
    color: white;
    font-family: inherit;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.049);
  }

  .task-description {
    font-family: inherit;
    padding: 8px 10px;
    width: 100%;
    resize: none;
    min-height: 100px;
    overflow: auto;
    color: white;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.205);
    background-color: rgba(0, 0, 0, 0.139);
  }

  .task-description:focus {
    accent-color: var(--ctp-accent);
  }

  .detailed-action > p {
    font-size: 15px;
  }

  .desc-actions {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .save.btn {
    padding: 10px;
    width: 50%;
  }

  .edit.btn.edit-mode::before {
    content: "\f00c";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 12px;
    color: white;
  }

  #taskName {
    max-width: 200px;
    word-wrap: break-word;
  }
  
  #nameEdit {
    position: absolute;
    width: 200px;
    background: none;
    color: white;
    font-family: inherit;
    resize: none;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.574);
    opacity: 0;
  }

  #nameEdit:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.574);
  }