/* --- BASE --- */
.container {
  display: flex;
  height: 100vh;

  background: grey;
}

.detailed-action {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* --- SIDEBAR --- */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  width: 300px;
  background: var(--ctp-base);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.app-title {
  margin-left: 4px;
  font-size: 18px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.707);
}

/* --- MAIN WINDOW --- */
.main-window {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: auto;
  background: var(--ctp-secondary);
  overflow-y: auto;
}

.window-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.window-actions {
  display: flex;
  gap: 10px;
}

.window-actions > .btn {
  position: relative;
  padding: 10px 20px 10px 50px;
}

#deleteSelected::before,
#importantAll::before,
#completeAll::before {
  position: absolute;
  left: 20px;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 14px;
  color: white;
}

#deleteSelected::before {
  content: "\f1f8";
}

#importantAll::before {
  content: "\f005";
}

#completeAll::before {
  content: "\f00c";
}

.task-content {
  position: relative;
  display: flex;
  flex-direction: column ;
  width: 100%;
  padding: 50px 40px 20px;
}

.tasks-pane {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow-y: auto;
}

.new-task {
  position: sticky;
  display: flex;
  flex-direction: column;
  bottom: 20px;
}

.input-wrapper {
  position: relative;
  display: flex;
}

.input-actions {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  top: 50%;
  right: 15px;
  height: 40px;
  transform: translateY(-50%);
}

.empty {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.all-done {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px 30px;
  height: auto;
  width: auto;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.03);
  user-select: none;
}

.all-done > img {
  height: 240px;
  width: 240px;
}

/* --- INFO BAR --- */
.info-sidebar {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  width: 350px;
  transform: translateX(350px);
  padding: 60px 20px 20px;
  background: var(--ctp-tertiary);
  overflow-y: auto;
  transition: transform 100ms ease-out;
}

.opened {
  transform: none;
  transition: transform 100ms ease-in;
}

.shifted {
  margin-right: 350px;
  transition: margin-right 100ms ease-in-out; 
}

.info-shelf {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-sidebar__actions {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.074);
  background: rgba(255, 255, 255, 0.02);
}