/* --- BASE --- */
.container {
  display: grid;
  grid-template-columns: 300px 2fr;
  height: 100vh;

  background: grey;
}

/* --- SIDEBAR --- */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  background: var(--ctp-base);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.app-title {
  margin-left: 4px;
  font-size: 18px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.707);
}

/* --- MAIN WINDOW --- */
.main-window {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 50px 40px 20px;
  height: auto;
  background: var(--ctp-secondary);
  overflow: auto;
}

.tasks-pane {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.completed-tasks {
  flex: 1;
}

.new-task {
  position: sticky;
  bottom: 0;
}

.input-wrapper {
  position: relative;
  height: 100%;
}

.input-actions {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  top: 50%;
  right: 15px;
  height: 40px;
  transform: translateY(-50%);
}

.empty {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.all-done {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px 30px;
  height: auto;
  width: auto;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.03);
  user-select: none;
}

.all-done > img {
  height: 240px;
  width: 240px;
}
